extends email-layout

block content
  h2 Forgotten password
  p Hello. You have requested a new password. Please click the button below to change your password. Please note that this link is only valid for the next hour.
  +button(resetURL, 'New password →')
  p
    | If you can not click the top button, please visit
    a(href="#{resetURL}" style="color: black") #{resetURL}
  br
  p If you did not request this email, please delete it.
