extends layout

block content
  .inner

    .desc(style='padding-bottom: 20px; flex-direction: column;')
      h2 Who am I?
      p Hello. My name is Lyudmil Yordanov and I am a full stack javascript developer from Sofia. I like to share what I know through my educational videos and my podcast. I've been creating on the web for around 9 years and have become pretty good at it. I learn from the community and love to share what I have learned back. This is why i created this platform. So I and my friend  Jose Fremaint can teach you how to build websites and improve your soft skills  with our video tutorials and podcast episodes.
      .flex-center
        img(src='/images/photos/bio-strip.png', style='object-fit: contain;')
      //- h2 Проекти
      //- p Имал съм удоволствието да работя с десетки наистина велики хора и компании върху някои невероятни проекти. По-долу са някои от клиентите с които съм работил. От уважение към личните предпочитания на клиентите, с които работя, не мога да покажа част от най-добрата ми работа на този сайт, но мисля, че уроците и информацията, които споделям говорят сами за умения ми. Ако искате да видите някои примери или може би нещо по-конкретно, моля, свържете се  с мен и ще се радвам да ги коментираме.
      h2 A little more…
      p I’m super passionate about design, development, and business. I’ve been very fortunate to be able to do all three as a career. From a technical standpoint, I spend most of my time working with JavaScript, CSS3, HTML5.  New and open source web technologies make me super excited and I can’t wait to see what is to come of the web in the next few years.
      h2 I do not accept new projects right now
      p
        |  If you have a question about me, or would like to read more, email me at &nbsp;
        a(href='mailto://lubo@devzone.bg') lubo@devx-bg.com

