extends layout

block content
  .inner

    .desc(style='padding-bottom: 20px; flex-direction: column;')
      h1 Services
      p You can take advantage of working with me on improving your current website, increasing revenue from it, or creating a new, more modern site. Still, we need to make sure there is no one better for your needs. Critical elements for the good work between us and the overall benefits are the size of your company, your needs, and last but not least your thinking.
      //- .flex-center
      //-   img(src='/images/photos/bio-strip.png', style='object-fit: contain;')
      h2
        span.underlined The size of your business
      p If you are a big business (100 employees or more), there are other experts who have a better experience.
      p From my practice, I understand that I can help most SMEs and personal projects by creating and developing their website and web strategy to generate more revenue. If this is you, keep reading. There are a few more things to look for ...
      h2
        span.underlined Your needs
      p I was accustomed to accepting various types of projects, but I decided to focus my work on a few more specific types of sites to be of maximum use.
      p
        b Websites created with the WordPress platform -
        |  suitable for private projects, for small and medium-sized enterprises. This is a content management system that lets you easily edit your site once it's made by me. In 2017, nearly 30% of all sites on the Internet use this platform.
      p
        b Bespoke websites that are fully developed for you with the most advanced technology like Node.js / Express / Pug / Sass / Webpack and others. - &nbsp;
        | suitable for people with a keen eye to detail, the best possible optimization of the project and its scaling. This option prefers those who understand that their website is the company's face on the Internet and that it is created impeccably takes time.
      p
        b eCommerce websites -
        | can be developed with an optional platform (WordPress + WooCommerce or OpenCart) depending on the store's goals and size.
      p
        b Website optimization, image compression and website speed optimization - &nbsp;
        | optimizing existing WordPress sites with which to keep users longer on the site and who will not get out of it just because it loads very slowly.
      h2
        span.underlined Your thinking
      p If you need a quick fix on your website, there are dozens if not hundreds of alternatives to go for. I do not do a task by email after an email today for tomorrow (or today). I will only annoy you with my insistence on accepting the challenge and taking a slower and more sustainable way to develop your site so that it is the best that can be and impact on customers as your business deserves.
      p Communication and relationships are very important to me, so I have a continuous relationship with my clients. I have a method of communication with which you are in constant fashion with the development of the job, and I do not spend half a workday to constantly reply to e-mails, and I can focus on the result you want.
      p
        b If you have the same understanding as me with a great deal of joy and excitement, I would expect you to write to me
        b
          a(href='mailto://lubo@devzone.bg') lubo@devx-bg.com
        b  and comment how we can improve your online presence.

